@import "/src/mixins/mixins.scss";

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/ClashDisplay-Medium.otf") format("opentype");
}

.header {
  font-family: "ClashDisplay-Medium", sans-serif;
  font-size: 30px;

  color: white;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onPhone {
    font-size: 15px;
    padding: 20px;
  }

  @include onTablet {
  }

  @include onDesktop {
  }
}

.logo {
  display: flex;
  align-items: start;
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out;

  @include onPhone {
    font-size: 15px;
  }

  &:hover {
    text-shadow:
      0 0 10px #2103fe,
      // Перший колір градієнту
      0 0 20px #cf5fff,
      // Перший колір з більшим розмиттям
      0 0 30px #cb0a81,
      // Другий колір градієнту
      0 0 40px #843d06; // Другий колір з ще більшим розмиттям
  }
}

.navBar {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @include onPhone {
    margin-left: 45px;
  }
}

.navLink {
  position: relative;
  padding-bottom: 8px;
  text-decoration: none;
}

.navLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navLink:hover::after {
  transform: scaleX(1);
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menuButton {
  color: white;
  font-size: 30px;
  display: flex;
  padding-top: 40px;
  font-family: "ClashDisplay-Medium", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  @include onPhone {
    font-size: 35px;
    padding-top: 20px;
    margin-right: 10px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.menuOpen {
  max-height: 200px;
}

.menuClosed .menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.menuItem {
  @include onPhone {
    font-size: 15px;
  }
}
.menuLink {
  position: relative;
  text-decoration: none;
  color: white;
}

.menuLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menuLink:hover::after {
  transform: scaleX(1);
}
