body {
  background-color: black;
}

.mainPartContainer {
  display: flex;
  justify-content: center;
}

.slider {
  margin-bottom: 150px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
