@import "/src/mixins/mixins.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.mainPartContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.slider {
  margin-bottom: 150px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include onPhone {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include onTablet {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
