@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("/fonts/ClashDisplay-Medium.otf") format("opentype");
}

.mainPart {
  width: 1420px;
}

.mainText {
  font-family: "ClashDisplay-Medium", sans-serif;
  width: 1420px;
}
